In [1]:
import re

In [6]:
#Search the string to see if it starts with "The" and ends with "Spain":#

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

# The re module offers a set of functions that allows us to search a string for a match:

##findall =	Returns a list containing all matches
##search	=Returns a Match object if there is a match anywhere in the string
##split	=Returns a list where the string has been split at each match
##sub	=Replaces one or many matches with a string

In [7]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [8]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [9]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [13]:
#Split the string only at the first occurrence

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [14]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [15]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [18]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [19]:
# .span() returns a tuple containing the start-, and end positions of the match.
# .string returns the string passed into the function
# .group() returns the part of the string where there was a match

In [20]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

# Raw String = r"\bS\w+"

(12, 17)

In [21]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [22]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [23]:
text = "Contact us at support@example.com or sales@mydomain.org"
emails = re.findall(r'\b[\w.-]+@[\w.-]+\.\w+\b', text)
print(emails)

# r'\b\w+@\w+\.\w+'
# OR
# '\\b\\w+@\\w+\\.\\w+'

['support@example.com', 'sales@mydomain.org']

In [24]:
text = "Call me at 9876543210 or 919876543210."
phones = re.findall(r'\b(?:\+91|91)?[6-9]\d{9}\b', text)
print(phones)

['9876543210', '919876543210']

In [25]:
# Validate if a String is a Strong Password
password = "My$tr0ngP@ss"
pattern = r'^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$#]).{8,}$'
print(bool(re.match(pattern, password)))

#Checks for uppercase, lowercase, digit, special character, and min length.

True

In [26]:
#Find Dates in dd-mm-yyyy Format
text = "The events are on 21-06-2025 and 15-08-2024."
dates = re.findall(r'\b\d{2}-\d{2}-\d{4}\b', text)
print(dates)

['21-06-2025', '15-08-2024']

In [28]:
#Extract All Hashtags from Social Media Post

text = "Loving the #Python #Regex #DataScience journey!"
hashtags = re.findall(r'#\w+', text)
print(hashtags)

['#Python', '#Regex', '#DataScience']

In [31]:
#Check if a String is a Valid PAN Number

pan = "ABCDE1234F"
pattern = r'^[A-Z]{5}[0-9]{4}[A-Z]$'
print(bool(re.match(pattern, pan)))

True

In [32]:
#Extract All URLs from a Paragraph

text = "Visit https://google.com or http://example.org/page"
urls = re.findall(r'https?://[^\s]+', text)
print(urls)

['https://google.com', 'http://example.org/page']

In [33]:
# Remove Extra Spaces from Text

text = "Python    is   great   for  data  science."
cleaned = re.sub(r'\s+', ' ', text)
print(cleaned)

Python is great for data science.

In [34]:
#Extract First Name and Last Name from Full Name

name = "John Doe"
match = re.match(r'^(\w+)\s+(\w+)$', name)
if match:
    print("First Name:", match.group(1))
    print("Last Name:", match.group(2))

First Name: John
Last Name: Doe

In [36]:
#Find All Words Starting with Capital Letters

text = "India is a beautiful Country with the Taj Mahal in Agra."
caps = re.findall(r'\b[A-Z][a-z]*\b', text)
print(caps)

['India', 'Country', 'Taj', 'Mahal', 'Agra']

In [37]:
#Scenario: Extract Valid US Street Addresses from a Paragraph


text = """
Please send the package to 123 Main St or to our branch at 42B 2nd Avenue.
Our HQ is located at 4001 Elm Street Apt 5, and a new office opened at 789-B Sunset Blvd.
"""

pattern = r'\b\d{1,5}[A-Za-z\-]*\s+[0-9A-Za-z]+\s+(?:Street|St|Avenue|Ave|Road|Rd|Blvd|Boulevard)(?:\s+\w+\s*\d*)?\b'

matches = re.findall(pattern, text)
for match in matches:
    print("ðŸ“¦ Found address:", match)

ðŸ“¦ Found address: 123 Main St or
ðŸ“¦ Found address: 42B 2nd Avenue
ðŸ“¦ Found address: 4001 Elm Street Apt 5
ðŸ“¦ Found address: 789-B Sunset Blvd